.account {
  position: relative;
}

.accountButton {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  white-space: nowrap;
  color: var(--color);
  background: transparent;
}

.accountButton svg {
  width: 1.3rem;
  fill: var(--color);
}

.accountButton span {
  font-size: 1rem;
}
