.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 0.15rem solid var(--foreground);
  padding: 1rem 2rem;
  white-space: nowrap;
}

.header h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.header svg {
  fill: var(--color);
}

.shoppingCart {
  flex: 3;
}

.subtotal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
}

.cartSummary {
  color: var(--color);
  background: var(--background);
  border-radius: var(--radius);
  height: max-content;
  max-width: 18rem;
  white-space: nowrap;
}

.amount {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.amount > span:first-child {
  font-weight: 600;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: var(--color);
}

.price > span:first-child {
  align-self: flex-end;
  font-size: 0.85rem;
  font-weight: 400;
}

.price > span:last-child {
  font-size: 1.3rem;
  font-weight: 600;
}

@media (max-width: 850px) {
  .cartSummary {
    width: 100%;
    max-width: 30rem;
  }

  .header {
    padding: 1rem;
  }

  .subtotal {
    gap: 1rem;
    padding: 1rem;
  }
}
