.form {
  --radius: 0.4rem;

  display: flex;
  align-items: center;
  flex: 1;
  max-width: 30rem;
}

.form input,
.form button {
  font-size: 1.05rem;
  color: black;
  height: 2.3rem;
  padding: 0 0.5rem;
}

.form input {
  background: rgb(235, 235, 235);
  border-radius: var(--radius) 0 0 var(--radius);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.form button {
  background: rgb(255, 225, 0);
  border-radius: 0 var(--radius) var(--radius) 0;
}
