.createStore {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 35rem;
  padding-bottom: 1rem;
  /* background-color: var(--dark-bg); */
}

.card {
  background: var(--dark-bg);
  padding: 1rem 0;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.createStore p {
  font-size: 0.9rem;
  color: rgb(151, 151, 151);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--dark-color);
}

.formGroup input,
.formGroup textarea,
.formGroup select {
  padding: 10px;
}

.formGroup input,
.formGroup textarea,
.formGroup select,
.contactGroup input {
  font-size: 0.9rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.formGroup select {
  color: var(--dark-color);
}

.container textarea {
  resize: none;
  height: 80px;
}

.toggleGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
}

.createButton {
  background: gray;
  color: black;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  pointer-events: none;
}

.activeButton {
  background: var(--dark-gold);
  cursor: pointer;
  pointer-events: auto;
}

.createButton:hover {
  background-color: var(--dark-pure-gold);
}
