.slidingInfo {
  max-width: 30rem;
  overflow-x: hidden;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.textSlide {
  display: flex;
  gap: 0.3rem;
  padding-left: 0.3rem;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.textSlide span:nth-child(odd) {
  color: var(--dark-gold);
}
