.orders {
  position: relative;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
}

.items {
  display: flex;
  flex-direction: column;
}

.sectionLinks {
  display: flex;
  gap: 1rem;
  width: 100%;
  position: sticky;
  top: -2rem;
  padding: 1rem 0;
  background: var(--dark-bg);
  z-index: 1;
}

.sectionLinks > span {
  padding: 0 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
}

.sectionLinks > span:first-child {
  color: rgb(150, 150, 150);
  border-bottom: 0.15rem solid var(--dark-gold);
  cursor: context-menu;
}
