.mainTrends {
  display: flex;
  flex-direction: column;
  width: fit-content;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background: var(--dark-gold);
  color: black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.header svg {
  width: 1rem;
  fill: black;
}

.trendItems {
  display: grid;
  justify-content: center;
  grid-template: 16.5rem / repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-rows: 16.5rem;
  gap: 1rem;
  background: black;
  padding: 1rem 1.5rem;
}
