.mainTrends {
  display: flex;
  flex-direction: column;
  width: fit-content;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background: var(--dark-gold);
  color: black;
  border-top-left-radius: var(--big-radius);
  border-top-right-radius: var(--big-radius);
}

.header > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.header svg {
  width: 1rem;
  fill: black;
}

.trendItems {
  display: grid;
  grid-template: 18rem / repeat(auto-fit, minmax(10rem, 12rem));
  grid-auto-rows: 18rem;
  gap: 1.5rem;
  background: var(--background);
  padding: 1rem 1.5rem;
}

@media (max-width: 500px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .trendItems {
    gap: 0.5rem;
    background: var(--background);
    padding: 1rem 0.5rem;
  }
}
