.contactCard {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;
  border-top: 0.02rem solid rgb(75, 75, 75);
}

.contactCard:last-child {
  justify-content: center;
  cursor: context-menu;
}

.contactCard > svg {
  width: 1.7rem;
  height: 1.7rem;
  fill: var(--dark-gold);
}

.contactCard:last-child > svg {
  fill: rgb(95, 95, 95);
  cursor: pointer;
}

.contactCard > p {
  display: flex;
  flex-direction: column;
  transition: opacity 0.15s ease-in-out;
}

.contactCard:hover > p {
  opacity: 0.7;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: black;
  padding: 1rem;
  border-radius: var(--radius);
  text-align: center;
}

.callButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--radius);
  background: var(--dark-gold);
  color: black;
  font-size: 1rem;
}

.callButton:hover {
  background: var(--dark-pure-gold);
}

.cancelButton {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  background: silver;
  color: black;
  font-size: 1rem;
}

.cancelButton:hover {
  background: rgb(131, 131, 131);
}
