.ads {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 60rem;
}

.ads button {
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  color: black;
  background: var(--dark-gold);
  transition: background var(--speed) ease-in-out;
}

.ads button:hover {
  background: var(--dark-pure-gold);
}

.ads h2 {
  font-size: 1.2rem;
  color: gray;
  margin-bottom: 0.5rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-auto-rows: 18rem;
  gap: 1rem;
}
