.menu {
  display: flex;
  justify-content: center;
  color: var(--color);
  height: 100vh;
}

.menuList {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 14rem;
  gap: 2rem;
  padding: 1rem 2rem;
  background: var(--background);
}

.menuList h3 {
  align-self: center;
  font-size: 1.2rem;
  color: gray;
  font-weight: 600;
}

.listDetails {
  flex: 4;
  display: flex;
  overflow-y: auto;
  padding: 2.5rem 2rem;
  background: var(--foreground);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.list > button {
  display: flex;
  font-size: 0.95rem;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  text-align: left;
  transition: opacity 0.15s ease-in-out;
}

.list > button:hover {
  opacity: 0.7;
}

.menuList svg {
  width: 1rem;
  fill: var(--color);
}

.active {
  color: var(--dark-gold);
  font-weight: bold;
  pointer-events: none;
}

.active svg {
  fill: var(--dark-gold);
}
