.promotion {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color);
  background: var(--background);
  border-radius: var(--big-radius);
  width: 100%;
  padding: 0.5rem;
  padding-bottom: 0;
}

.promotion > section {
  display: flex;
  justify-content: center;
}

.promotion h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

.items {
  display: flex;
  gap: 1rem;
}

.item {
  flex: 1;
  padding: 0.5rem 0;
  width: 10.5rem;
  height: 20rem;
}

.item > * {
  width: 100%;
}

@media (max-width: 1100px) {
  .promotion {
    border-radius: 0;
  }

  .items {
    gap: 1.5rem;
  }
}
