.infoTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.2rem;
  padding: 0 2rem;
  background: var(--background);
  color: var(--color);
  width: 100%;
  margin-top: 4.5rem;
  white-space: nowrap;
}

.infoTab svg {
  width: 1.1rem;
  fill: var(--color);
}

svg.officialStar {
  fill: var(--dark-gold);
}

.infoTab > section {
  display: flex;
  align-items: center;
}

.primary {
  gap: 1.5rem;
}

.primary > a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.infoTab span {
  font-size: 0.9rem;
}

.tertiary {
  gap: 1rem;
}

@media (max-width: 750px) {
  .primary > a {
    display: none;
  }

  .infoTab span {
    font-size: 0.8rem;
  }

  .infoTab {
    padding: 0 0.5rem;
  }
}
