.products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: max-content;
  overflow-x: hidden;
  width: 100%;
  max-width: 60rem;
}

.products h2 {
  font-size: 1.2rem;
  color: gray;
  margin-bottom: 0.5rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-auto-rows: 17.5rem;
  gap: 1rem;
}
