.searchInput {
  flex: 1;
  max-width: 30rem;
  position: relative;
}

.form {
  display: flex;
  align-items: center;
}

.form input,
.form button {
  font-size: 1rem;
  color: black;
  height: 2.3rem;
  padding: 0 0.5rem;
}

.form input {
  background: var(--input-color);
  border-radius: var(--radius) 0 0 var(--radius);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2rem;
  flex: 1;
  outline: none;
}

.form button {
  background: var(--dark-gold);
  border-radius: 0 var(--radius) var(--radius) 0;
  transition: background var(--speed) ease-in-out;
}

.form button:hover {
  background: var(--dark-pure-gold);
}

.searchIcon {
  fill: rgb(110, 110, 110);
  width: 1rem;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  pointer-events: none;
}
