.campus {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.campus select {
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  padding: 0.2rem 0.5rem;
  height: 2.4rem;
  background: var(--input-color);
  color: black;
}
