.item {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background: black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
}

.item:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 0rem 0.5rem var(--dark-gold);
}

.imgBox {
  position: relative;
  flex: 1;
}

.imgBox::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.imgBox:hover::before {
  height: 0;
}

.infoIcon {
  fill: var(--dark-blue);
  width: 1.2rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.5rem;
  gap: 0.2rem;
}

.productInfo span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: white;
}

.price > span:first-child {
  align-self: flex-end;
  font-size: 0.85rem;
  font-weight: 400;
}

.price > span:last-child {
  font-size: 1.1rem;
  font-weight: 600;
}

.productName,
.storeName {
  font-size: 0.9rem;
  color: var(--dark-color);
}

.storeName {
  display: flex;
  gap: 0.1rem;
}

.storeName span {
  padding: 0.1rem;
}

.storeName svg {
  width: 0.9rem;
  fill: var(--dark-gold);
}

.wishBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 10rem;
  background: rgba(0, 0, 0, 0.7);
}

.wishBox > svg {
  width: 1rem;
  fill: var(--dark-pure-gold);
}

.stars {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.starIcons {
  display: flex;
  gap: 0.2rem;
}

.starIcons svg {
  width: 1rem;
  fill: var(--dark-pure-gold);
}

.stars span {
  color: var(--dark-color);
  font-size: 0.85rem;
}

.add {
  color: black;
  background: var(--dark-gold);
  padding: 0.45rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.add:hover {
  background: var(--dark-pure-gold);
}

.addQuantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-bg);
}

.addQuantity span {
  color: var(--dark-color);
  user-select: none;
}

.addQuantity svg {
  width: 1.79rem;
  fill: var(--dark-pure-gold);
}
