.mainPage {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--foreground);
}

.page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--foreground);
  color: var(--color);
  font-size: 0.95rem;
  padding-bottom: 3rem;
  max-width: 100rem;
  position: relative;
}

.home {
  display: flex;
  gap: 1rem;
  height: 80vh;
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.home::-webkit-scrollbar {
  display: none;
}

.itemInfo {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.top {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: var(--radius);
  background: var(--background);
  color: var(--color);
}

@media (max-width: 500px) {
  .page {
    padding: 0 0.5rem;
  }

  .home {
    gap: 0.5rem;
    padding: 1rem 0;
  }

  .itemInfo {
    flex: 2.5;
  }
}

@media (max-width: 450px) {
  .home {
    flex-direction: column;
  }
}
