.mainCategory {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.products {
  background: var(--dark-blue);
}

.services {
  background: var(--dark-green);
}

.meals {
  background: var(--dark-orange);
}

.stores {
  background: var(--dark-violet);
}

.categoryItems {
  height: 16rem;
  padding: 1rem 1.5rem;
  background: black;
}

.item {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  height: 95%;
  transition: transform 0.15s ease-in-out;
}

.item:hover {
  transform: scale(1.02);
}

.cardName {
  color: var(--dark-color);
  position: absolute;
  bottom: 0.5rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
}
