.selectBox select {
  font-size: 1.1rem;
  font-weight: 600;
  height: 1.5rem;
  border: none;
  border-bottom: 0.05rem solid var(--dark-color);
  background: transparent;
  color: var(--color);
  cursor: pointer;
}

.selectBox option {
  background: var(--background);
  color: var(--color);
}
