.selectBox select {
  font-size: 0.9rem;
  height: 1.5rem;
  border: none;
  border-bottom: 0.05rem solid var(--dark-color);
  background: transparent;
  color: var(--dark-color);
  cursor: pointer;
}

.selectBox option {
  background: black;
  color: var(--dark-color);
}
