.page {
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--foreground);
  height: 100vh;
}

.body {
  background: var(--background);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.body > form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.body > form button {
  align-self: center;

  font-size: 1.1rem;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: var(--radius);
  margin-top: 0.5rem;
  color: black;
  background: var(--dark-gold);
  transition: background var(--speed) ease-in-out;
}

.body > form button:hover {
  background: var(--dark-pure-gold);
}

.body h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.body h2 {
  align-self: center;
}

.loginSection {
  display: flex;
  gap: 0.5rem;
  font-size: 0.85rem;
}

.loginSection > a {
  color: var(--dark-gold);
}

.header {
  align-self: flex-start;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0 0 0.3rem var(--dark-gold);
}

.logoBox {
  position: relative;
  width: 7rem;
  height: 3rem;
}
