.settings {
  display: flex;
  flex-direction: column;
  color: var(--color);
  width: 100%;
  gap: 1.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
}

.content {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  background: var(--background);
  padding: 1rem;
}

.content input {
  height: 2rem;
  background: var(--input-color);
  border-radius: var(--radius);
  padding: 0.2rem 0.5rem;
  font-size: 1.1rem;
  color: black;
}

.email {
  margin-top: 0.5rem;
}

.expander {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  background: black;
}

.settings svg {
  width: 0.5rem;
  fill: var(--color);
}

.active + div {
  display: flex;
}

.active svg {
  transform: rotate(90deg);
}

.delete {
  align-self: center;
  background: transparent;
  color: rgb(212, 88, 74);
  margin-top: 1rem;
}
