.jobs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.jobPosts {
  display: grid;
  grid-template: 14.5rem / repeat(auto-fit, minmax(14rem, 1fr));
  grid-auto-rows: 14.5rem;
  gap: 1rem;
}
