.title {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color);
}

.selection,
.selection > div {
  display: flex;
  align-items: center;
}

.selection > div {
  gap: 0.5rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-bottom: 0.1rem solid #333;
  padding: 0.5rem 0;
}

.day {
  opacity: 0.7;
  flex: 1;
}

.select {
  cursor: pointer;
  color: var(--color);
  transition: opacity 0.15s ease;
}

.select:hover {
  border-color: #777;
}

.select:focus {
  border-color: #aaa;
}

/* Disabled select */
.select.disabled {
  opacity: 0.5;
  pointer-events: none;
  border-color: #444;
}

/* Always Open Button */
.alwaysOpenButton {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background: #333333;
  color: white;
  padding: 0.5rem;
  border-radius: var(--radius);
  cursor: pointer;
  white-space: nowrap;
  transition: all var(--speed);
}

.alwaysOpenButton svg {
  width: 1.4rem;
  height: 1.3rem;
  fill: white;
}

.alwaysOpenButton:hover {
  background: #333333;
}

.alwaysOpenButton.active {
  background: #007944;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color);
}

.formGroup select {
  padding: 10px;
}

.formGroup select {
  font-size: 0.9rem;
  border-radius: var(--radius);
  border: 1px solid gray;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 2rem;
  transition: var(--speed);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: 0.2rem;
  bottom: 0.19rem;
  background-color: var(--background);
  border-radius: 50%;
  transition: var(--speed);
}

.switch input:checked + .slider {
  background-color: #53c666;
}

.switch input:checked + .slider:before {
  transform: translateX(1rem);
}

.openLabel,
.closedLabel {
  width: 4rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

@media (max-width: 480px) {
  .selection {
    flex-direction: column;
    gap: 0.5rem;
  }
}
