.locationBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--background);
  padding: 1rem 0.5rem;
  border-radius: var(--radius);
}

.locationDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.locationBox > h2 {
  font-size: 1rem;
  font-weight: 700;
}

.locationDetails p {
  font-size: 0.85rem;
}

.locationDetails label {
  font-size: 0.85rem;
  margin-left: 0.7rem;
}

.locationDetails input,
.locationDetails textarea,
.locationDetails select {
  background: var(--input-color) !important;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: var(--radius);
  padding: 0.5rem;
  color: black;
  width: 100%;
  box-sizing: border-box;
}

.locationDetails input:focus,
.locationDetails textarea:focus,
.locationDetails select:focus {
  outline-color: var(--dark-pure-gold);
}

.locationDetails option {
  color: var(--color);
  background: var(--background);
}

.locationDetails input {
  height: 2.1rem;
}

.extras textarea {
  resize: none;
  min-height: 72px;
}

.fullName,
.mobile > div,
.extras,
.regionCity > div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.fullName,
.extras {
  max-width: 40rem;
}

.mobile,
.regionCity {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.mobile > div,
.regionCity > div {
  flex: 1;
}

@media (max-width: 500px) {
  .regionCity,
  .mobile {
    flex-direction: column;
  }
}
