.mainBrands {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-direction: column;
  background: var(--background);
  padding: 1rem 0;
  border-radius: var(--big-radius);
}

.header {
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  gap: 0.5rem;
  color: var(--color);
}

.header svg {
  fill: rgb(143, 226, 245);
  width: 1.2rem;
}

.brands {
  display: grid;
  grid-template: 18rem / repeat(6, minmax(11rem, 14rem));
  gap: 1rem;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: var(--radius);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.brand:hover {
  transform: scale(1.02);
}

.img {
  transition: filter 0.2s ease-in-out;
}

.brand:hover img {
  filter: blur(0.5rem);
}

.brand::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--brand-bg);
  z-index: 1;
}

.cardName {
  color: var(--color);
  z-index: 2;
}
