.page {
  display: flex;
  background: var(--foreground);
  color: var(--color);
  height: 100vh;
}

.nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
  background: var(--background);
  max-width: 14rem;
}

.storeName h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: gray;
}

.navLinks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.navLinks > button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  font-size: 0.95rem;
  text-align: left;
  transition: opacity 0.15s ease-in-out;
}

.navLinks > button:hover {
  opacity: 0.7;
}

.navLinks svg {
  width: 1rem;
  fill: var(--dark-color);
}

.active {
  color: var(--dark-gold);
}

.active svg {
  fill: var(--dark-gold);
}

.main {
  flex: 4;
  display: flex;
  padding: 2.5rem 2rem;
  overflow-y: auto;
}
