.itemQuantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.itemQuantity > svg {
  fill: var(--dark-gold);
  width: 1.5rem;
  cursor: pointer;
}

svg.hide {
  filter: grayscale(100%);
}

.itemQuantity > svg:hover {
  fill: rgba(232, 205, 4, 1);
}
