.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.85);
  border-bottom: 0.05rem solid var(--dark-gold);
  color: var(--dark-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: transform 0.2s ease-in-out;
}

.hidden + .nav {
  transform: translateY(-100%);
}

.primary,
.secondary,
.inputsBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.primary,
.inputsBox {
  flex: 1;
}

.logoBox h1 {
  font-size: 1.7rem;
}
