.selectBox select {
  font-size: 1.05rem;
  height: 2.3rem;
  border: none;
  border-bottom: 0.05rem solid var(--dark-color);
  background: transparent;
  color: var(--dark-color);
  cursor: pointer;
}

.selectBox option {
  background: black;
  color: var(--dark-color);
}
