.item {
  display: flex;
  gap: 1rem;
}

.item > div {
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
}

.item > div:first-child {
  flex: 1;
  max-width: 7rem;
}

.item > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 3;
}

.namePrice {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.itemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: white;
}

.price > span:first-child {
  align-self: flex-end;
  font-size: 0.85rem;
  font-weight: 400;
}

.price > span:last-child {
  font-size: 1.1rem;
  font-weight: 600;
}

.accountStock {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.stock {
  font-size: 0.85rem;
  color: rgb(139, 139, 139);
}
