.orders {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: max-content;
  overflow-x: hidden;
}

.orders h2 {
  font-size: 1.2rem;
  color: gray;
  margin-bottom: 0.5rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.details > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
