.inputBox {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.inputBox > label {
  align-self: flex-start;
  font-size: 0.95rem;
  font-weight: 500;
  height: 0.8rem;
  margin-left: 0.7rem;
  color: rgb(90, 90, 90);
  position: relative;
  top: 1.85rem;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.inputBox input {
  background: var(--input-color);
  height: 2.4rem;
  min-width: 20rem;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  font-size: 1.1rem;
  color: black;
}

.inputBox input:focus,
.inputBox input:hover {
  outline: 0.15rem solid var(--dark-gold);
}

.inputBox input:-webkit-autofill,
.inputBox input:-webkit-autofill:hover,
.inputBox input:-webkit-autofill:focus,
.inputBox input:-webkit-autofill:active {
  -webkit-text-fill-color: black;
  caret-color: black;
}

label.focused {
  font-size: 0.85rem;
  top: 0rem;
  color: var(--color);
}
