.extras {
  align-self: flex-start;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  /* flex: 1; */
  color: var(--dark-color);
  background: black;
  border-radius: var(--big-radius);
  padding: 0.5rem 0;
}

.extras h3 {
  font-size: 0.95rem;
  text-align: center;
  color: transparent;
  margin-bottom: 0.5rem;
  background: linear-gradient(
    120deg,
    rgb(150, 150, 150) 0%,
    rgb(150, 150, 150) 35%,
    var(--dark-gold) 50%,
    rgb(150, 150, 150) 65%,
    rgb(150, 150, 150) 100%
  );
  background-size: 200% 200%;
  background-clip: text;
  animation: gradient-animation 3s linear infinite reverse;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 100%;
  }
}

.contactCard {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;
  border-top: 0.02rem solid rgb(75, 75, 75);
  cursor: pointer;
}

.contactCard:last-child {
  justify-content: center;
  cursor: context-menu;
}

.contactCard > svg {
  width: 1.7rem;
  height: 1.7rem;
  fill: var(--dark-gold);
}

.contactCard:last-child > svg {
  fill: rgb(95, 95, 95);
  cursor: pointer;
}

svg.xIcon:hover {
  fill: rgba(95, 95, 95, 0.6);
}

svg.liIcon:hover {
  fill: rgb(10, 102, 194);
}

svg.igIcon:hover {
  fill: rgb(193, 53, 132);
}

svg.fbIcon:hover {
  fill: rgb(24, 119, 242);
}

svg.tubeIcon:hover {
  fill: rgb(252, 39, 39);
}

.contactCard > p {
  display: flex;
  flex-direction: column;
  transition: opacity 0.15s ease-in-out;
}

.contactCard:hover > p {
  opacity: 0.7;
}

.extrasBox {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
