.cart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  background: var(--dark-bg);
  min-height: 100vh;
  padding: 1rem 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 0.15rem solid var(--dark-bg);
  padding: 1rem 2rem;
  white-space: nowrap;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2rem;
  gap: 1rem;
}

.productsList,
.mealsList,
.servicesList,
.emptyList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.items h4 {
  color: transparent;
  animation: gradient-animation 3s linear infinite reverse;
}

.productsList h4 {
  background: linear-gradient(
    120deg,
    rgb(150, 150, 150) 0%,
    rgb(150, 150, 150) 35%,
    rgba(49, 123, 220, 0.85) 50%,
    rgb(150, 150, 150) 65%,
    rgb(150, 150, 150) 100%
  );
  background-size: 200% 200%;
  background-clip: text;
}

.mealsList h4 {
  background: linear-gradient(
    120deg,
    rgb(150, 150, 150) 0%,
    rgb(150, 150, 150) 35%,
    rgba(229, 126, 29, 0.85) 50%,
    rgb(150, 150, 150) 65%,
    rgb(150, 150, 150) 100%
  );
  background-size: 200% 200%;
  background-clip: text;
}

.servicesList h4 {
  background: linear-gradient(
    120deg,
    rgb(150, 150, 150) 0%,
    rgb(150, 150, 150) 35%,
    rgba(43, 224, 169, 0.85) 50%,
    rgb(150, 150, 150) 65%,
    rgb(150, 150, 150) 100%
  );
  background-size: 200% 200%;
  background-clip: text;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 100%;
  }
}

.emptyList > span {
  opacity: 0.7;
}

.addItems {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  color: black;
  background: var(--dark-gold);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  min-width: 5.5rem;
}

.addItems:hover {
  background: rgba(232, 205, 4, 1);
}

.addItems svg {
  width: 1rem;
}

.title {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
}

.header h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.itemsCount {
  font-size: 0.9rem;
}

.header svg {
  fill: var(--dark-color);
}

.shoppingCart,
.cartSummary {
  color: var(--dark-color);
  background: black;
  border-radius: 0.5rem;
  min-height: 10rem;
}

.shoppingCart {
  flex: 3;
}

.cartSummary {
  flex: 1;
}
