.cart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  background: var(--dark-bg);
  min-height: 100vh;
  padding: 1rem 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 0.15rem solid var(--dark-bg);
  padding: 1rem 2rem;
  white-space: nowrap;
}

.items h4 {
  color: transparent;
  animation: gradient-animation 3s linear infinite reverse;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 100%;
  }
}

.items {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
}

.title {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
}

.header h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.header svg {
  fill: var(--dark-color);
}

.shoppingCart,
.cartSummary {
  color: var(--dark-color);
  background: black;
  border-radius: 0.5rem;
  min-height: 10rem;
}

.shoppingCart {
  flex: 3;
}

.cartSummary {
  flex: 1;
}

.subtotal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
}

.amount {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.amount > span:first-child {
  font-weight: 600;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: white;
}

.price > span:first-child {
  align-self: flex-end;
  font-size: 0.85rem;
  font-weight: 400;
}

.price > span:last-child {
  font-size: 1.3rem;
  font-weight: 600;
}

.payButton {
  align-self: center;

  display: flex;
  gap: 0.5rem;
  background: var(--dark-gold);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.payButton:hover {
  background: rgba(232, 205, 4, 1);
}

.payButton > span {
  color: black;
  white-space: nowrap;
}

.payButton svg {
  width: 1.3rem;
}
